
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

body{
    background-image: linear-gradient(#191F2B, #30353B);
    background-attachment: fixed;
    color: white;
    font-family: sans-serif;
}


.navbar{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
}

.logo{
    height: 44px;
    width: 44px;
    margin-top: 10px;
  }
  
  .logo a img{
    height: 44px;
    width: 40px;
  }

.nav-data{
    width: 500px;
}
.nav-data ul{
    background-color: #434343;
    align-items: center;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 15px;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-data ul li{
    text-align: center;
}
.nav-data ul li a{
    text-decoration: none;
    color: white;
}
.nav-data ul li button{
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.information-box{
    width: 90%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;

}
.info-data{
    width: 425px;
    margin-top: 50px;
    margin-left: 100px;
}
.info-data h1{
    font-size: 50px;
}

.cv-btn{
    background: transparent;
    border: 1px solid white;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 150px;
    border-radius: 40px;
    padding: 5px;
    padding-inline: 10px;
}
.cv-btn:hover{
    background-color: #2FA688;
    border: none;
}
.info-data button:hover{
    transition: 1s;
}

.social-link{
    width: 60%;
    margin-top: 50px;
    text-align: center;

}
.social-link a{
    margin: auto;
    font-size: 35px;
    color: #606163;
    margin-right: 20px;

}

.social-link a:hover{
    color: #2FA688;
    transition: 0.5s;
}

.exp-box{
    background-color: black;
    border: 2px solid #2FA688;
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   border-radius: 40px;
    text-align: center;
    padding-inline: 10px;
}
.years-exp{
    text-align: center;
}

span{
    color: #2FA688;
}

.services{
    width: 30%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.services h3{
    font-size: 30px;
}
.services h5{
    font-family: "Just Me Again Down Here", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.service-about{
    background-color: #181A1F;
    width:80% ;
    height: 400px;
    margin: auto;
    padding: 5px;
    position: relative;
}

.service-about h5{
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    font-size: 20px;
}

.service-about p{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    line-height: 30px;
}

.left-texture{
    position: absolute;
}

.right-texture{
    margin-left: 93%;
    
}